{% extends "layout.html" %}

{% block content %}
<h2 class="section-header">
    {{ subreddit }} Posts
    <div class="sort-links">
        <a href="/?r={{subreddit}}&sort=hot">Hot</a> |
        <a href="/?r={{subreddit}}&sort=new">New</a> |
        <a href="/?r={{subreddit}}&sort=top">Top</a>
    </div>
</h2>

<table class="post-list">
    <tr>
        <th>Rank</th>
        <th>Image</th>
        <th style="text-align: left; padding-left: 10px;">Title</th>
        <th>Score</th>
    </tr>

    {% for post in posts %}
    <tr>
        <td class="rank-col">{{ loop.index }}</td>
        
        <!-- Thumbnail Logic -->
        <td width="70" align="center">
            {% if post.thumbnail and 'http' in post.thumbnail %}
                <img src="{{ post.thumbnail }}" style="width: 50px; height: 70px; object-fit: cover; border: 1px solid #ccc;">
            {% else %}
                <div style="width: 50px; height: 70px; background: #eee; border: 1px solid #ccc; line-height: 70px; text-align: center; color: #aaa;">TXT</div>
            {% endif %}
        </td>

        <td>
            <div class="post-title">
                <a href="/comments/{{ post.permalink.lstrip('/') }}">{{ post.title }}</a>
            </div>
            <div class="post-meta">
                {{ post.subreddit_name_prefixed }} • Posted by u/{{ post.author }} • {{ post.created_utc | date }}
                <br>
                <span class="tag">{{ post.num_comments }} comments</span>
                {% if post.is_video %}<span class="tag" style="background:#ffd6d6;">Video</span>{% endif %}
            </div>
        </td>

        <td class="score-col">{{ post.score }}</td>
    </tr>
    {% endfor %}

</table>
{% endblock %}